---
layout: default
---

  <h2 class="heading">Study</h2>
  <ul class="list list-items">
    <li>
    <li>Master,Computer Science,UCAS.</li>
      <div class="small">Deep learning,Computer Vision</div>
    </li>
  </ul>

  <h2 class="heading">Work</h2>
  <ul class="list list-items">
    <li>Privacy.</li>
  </ul>
  
  <h2 class="heading">Side Projects</h2>
  <ul class="list list-items">
      <li><a href="https://github.com/zdhscdj">Click me to know more about information.</a></li>
  </ul>

  <h2 class="heading">About me</h2>
  <ul class="list list-items">
    <li>Based in Beijing since 2020.</li>
    <li>Work in C/C++/Go/Shell, a Vimer.</li>
    <li>A back-end developer.</li>
  </ul>

  <h2 class="heading">Hyperlinks &amp; contact</h2>
  <ul class="list list-items">
    <li>
      <mark><a href="https://github.com/zdhscdj" rel="me">GitHub</a></mark>
    </li>
    <li>Email:15184842190@163.com</li>
  </ul>
  
  <h2 class="heading">Posts</h2><a class="small" href="/notes.xml">[feed]</a>
  <ul class="list-notes">
    {% for note in site.data.notes limit: 5 %}
      <li class="note">
        <time class="small">{{ note.date | date: "%b %d, %Y" }}</time> <a href="/notes#date-{{ note.date | date: "%Y-%m-%d" }}{{ note.slug }}" class="small">#</a>
        <div>{{ note.content | markdownify }}</div>
      </li>
    {% endfor %}
  </ul>

{% if site.data.notes.size > 5 %}
  <li class="note"><a class="small" href="/notes">More...</a></li>
{% endif %}
